<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">


    <bean id="someService" class="org.example.service.service.impl.SomeServiceImpl"/>
    <bean id="someService2" class="org.example.service.service.impl.SomeServiceImpl"/>

<!--    通过无参构造函数创建，然后给参数赋值，-->
    <bean id="myStudent" class="org.example.service.service.Student">
        <property name="name" value="jack"/>
        <property name="age" value="29"/>
        <property name="school" ref="mySchool"/>
    </bean>
    <bean id="mySchool" class="org.example.service.service.School">
        <property name="name" value="二娃小学"/>
        <property name="address" value="山的那边"/>
    </bean>

<!--    通过有残构造函数给参数赋值，-->
    <bean id="myStudent2" class="org.example.service.service.Student">
        <constructor-arg name="name" value="erwa"/>
        <constructor-arg index="1" value="28"/>
        <constructor-arg ref="mySchool"/>
    </bean>

</beans>